* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header CSS */
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

ul>li {
    text-decoration: none;
    list-style-type: none;
}

.blog-header {
    font-size: 30px;
    font-weight: bold;
}


/* main blog CSS */

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        'top'
        'md'
        'bt'
        'ft';
    justify-content: center;
    border: 5px solid red;
    padding: 5px;
}


.blogs {
    border: 2px solid green;
    padding: 15px 10px;
}

/* adding pad into blogOne */

#striking {
    padding: 10px 0;
}

#randomP {
    padding-top: 10px;
}