@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,100&display=swap');

* {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.btblog {
    color: lightblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.author-description {
    text-align: center;
}

.small-image {
    width: 100px;
    height: 50px;
    background-color: grey;
    border-radius: 50%;
    text-align: center;
}